################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BankAppOct19
/BankAppOct19/bin/Debug/netcoreapp2.1
/BankAppOct19/obj
